<div class="div-content">
  <div class="img-project">
    <img class="img-project" [src]=[project.img] alt="">
    <div class="project-name"> {{project.name}} </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Expenses">
      <button mat-raised-button color="accent" (click)="createExpense()">
        Create New Expense
      </button>
      <app-project-expenses-table [projectId]="projectId"></app-project-expenses-table>
    </mat-tab>
    <mat-tab label="Owner">
      <ng-container>
        <div class="profile-card">
          <mat-card>
            <img alt="" matCardImage src={{user.img}}>
            <mat-card-content>
              <h2>
                {{ user.first_name }}
              </h2>
              <h2>
                {{ user.last_name }}
              </h2>
              <h2>
                {{ user.email }}
              </h2>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab label="Members">
      <app-project-users-table [projectId]="projectId"></app-project-users-table>
    </mat-tab>
  </mat-tab-group>
</div>
