<section class="img-project">
  <img class="img-project" [src]=[project.img] alt="">
  <section class="project-name">
    <h1> {{project.name}} </h1>
    <h2> {{"Category"|translate}}: {{project.category}}</h2>
  </section>
</section>
<mat-tab-group>
  <mat-tab label="{{'Expenses'|translate}}">
    <section class="button-container-space-between add-button">
      <button mat-raised-button color="accent" (click)="createExpense()">
        {{"Add New"|translate}} {{"Expense"|translate}}
      </button>
      <button mat-raised-button color="accent" (click)="createIncome()">
        {{"Add New"|translate}} {{"Income"|translate}}
      </button>
    </section>
    <app-expenses-table [expenses]="expenses" [incomes]="incomes"  
    (parentUpdateExpenseList)="updateExpenseList()"></app-expenses-table>
  </mat-tab>
  <mat-tab label="{{'Members'|translate}}">
    <app-users-table [projectId]="projectId"></app-users-table>
  </mat-tab>
  <mat-tab label="{{'Owner'|translate}}">
    <ng-container>
      <section class="profile-card">
        <mat-card>
          <img class="profile-card-img" alt="" matCardImage src={{admin.img}}>
          <mat-card-content>
            <h2>
                <strong>{{"Username"|translate}}: </strong> {{ admin.username }}
            </h2>
            <h2>
              <strong>{{"Full name"|translate}}: </strong> {{ admin.last_name }}, {{ admin.first_name }}
            </h2>
            <h2>
              <strong>{{"Email"|translate}}: </strong> {{ admin.email }}
            </h2>
          </mat-card-content>
        </mat-card>
      </section>
    </ng-container>
  </mat-tab>
  <mat-tab *ngIf="project.isAdmin(username)" label="{{'Configuration'|translate}}">
    <section class="config-card">
      <input aria-label="file" type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
      <section class="file-upload">
        <img alt="project image" *ngIf="selectedFile" [src]="selectedFileSrc">
        <br>
        {{selectedFileName}}
        <span *ngIf="selectedFileName == null">
          {{"Upload image"|translate}}
        </span>
        <button mat-mini-fab color="accent" (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </section>
      <form class="custom-form" [formGroup]="formGroup">
        <section>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{"Name"|translate}}</mat-label>
            <input aria-label="name" type="text" matInput formControlName="name" />
            <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
              {{"Name is"|translate}} <strong>{{"required"|translate}}</strong>
            </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{"Category"|translate}}</mat-label>
            <input aria-label="category" type="text" matInput formControlName="category">
            <mat-error *ngIf="formGroup.controls['category'].hasError('required')">
              {{"Category is"|translate}} <strong>{{"required"|translate}}</strong>
            </mat-error>
          </mat-form-field>
        </section>
      </form>
      <section class="button-container-space-between">
        <button type="submit" mat-raised-button color="accent" (click)="modifyProject()">{{"Save Changes" |
          translate}}</button>
        <button mat-raised-button color="warn" (click)="deleteProject()">{{"Delete" | translate}}</button>
      </section>
    </section>
  </mat-tab>
</mat-tab-group>
