<form [formGroup]="formControl">
  {{'Search' | translate}}:
  <mat-form-field>
    <input matInput formControlName="username">
    <mat-placeholder>{{'Username' | translate}}</mat-placeholder>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="last_name">
    <mat-placeholder>{{'Date' | translate}}</mat-placeholder>
  </mat-form-field>
</form>

<div class="div-table">
  <table mat-table [dataSource]="expensesDataSource" matSort mdbTableScroll scrollX="true" scrollY="True">
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span *ngIf="!isSmall"> {{'User' | translate}} </span>
      </th>
      <td mat-cell *matCellDef="let expense">
        <a href="user/{{expense.user}}">{{expense.user}}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="dossier">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="!isSmall"> {{'Dossier' | translate}} </span>
      </th>
      <td mat-cell *matCellDef="let expense">
        {{expense.dossier}}
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span *ngIf="!isSmall"> {{'Date' | translate}} </span>
      </th>
      <td mat-cell *matCellDef="let expense">
        {{expense.date}}
      </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span *ngIf="!isSmall"> {{'Amount' | translate}} </span>
      </th>
      <td mat-cell *matCellDef="let expense">
        {{expense.amount}}
      </td>
    </ng-container>
    <ng-container matColumnDef="vatpercentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span *ngIf="!isSmall"> {{'VAT %' | translate}} </span>
      </th>
      <td mat-cell *matCellDef="let expense">
        {{expense.vatpercentage}}
      </td>
    </ng-container>
    <ng-container matColumnDef="final_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span *ngIf="!isSmall"> {{'Final Amount' | translate}} </span>
      </th>
      <td mat-cell *matCellDef="let expense">
        {{expense.final_amount}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons>
  </mat-paginator>
</div>
