html * {
  font-size: 1.02em;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e9f1ed;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
}

a {
  color: black;
}

table {
  width: 100%;
  text-align: left;
  width: 100%;
  overflow-x: scroll;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px !important;
}

.feature-name {
  font-weight: bold;
}

td button {
  margin: 0 0.5em 0 0.5em;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
  padding: 10px;
  padding: 0;
  text-align: center;
}

mat-drawer {
  width: auto;

}

mat-drawer h1{
 padding: 0;
 margin: 0;
}

mat-drawer a{
 text-decoration: none;
}

mat-drawer button {
  width: 100%;
}

mat-toolbar {
  background-color: #4CAF50;
  margin: 0;
}

mat-toolbar a {
  text-align: center;
  margin: 0 auto 0 auto;
  text-decoration: none;
}

mat-tab-group {
  margin: 0 auto 0 auto;
  width: 95%;
}

mat-tab-header {
  margin-bottom: 1em;
}

.mat-drawer-inner-container {
  background-color: #dbe7e1;
}

.main-content {
  text-align: center;
  height: 100%;
}

.mat-drawer-content {
  background-color: #e9f1ed;
}

.drawer-col button,
.drawer-col a {
  margin: 0%;
  padding: 0%;
  text-align: left;
  font-size: large;
  padding-right: 1em;
  padding-left: 1em;
}

.card-grid {
  margin: 1em auto 1em auto;
}

.card {
  margin: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.toolbar button, .toolbar mat-ripple mat-menu-ripple {
  width: 1px;
}

.mat-column-image {
  color: black;
}

.img-project {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 10em;
  object-fit: cover;
  position: relative;
  text-align: center;
  margin-bottom: 2%;
}

.project-name {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.div-content {
  margin: auto;
  margin-top: 2%;
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding-bottom: 1%;
}

.button-container-space-between {
  margin: 1em auto 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.card-form {
  margin: 0 auto 0 auto;
  width: 25em;
  text-align: center;
  margin-top: 10%;
}

.server-down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.server-down h1 {
  font-size: 3em;
}

.title {
  width: 100%;
  text-align: center;
}

.mat-snack-bar-container {
  background-color: white;
  font-weight: normal;
  color: black;
}

.spacer {
  width: 100%;
}

.profile-body {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.profile-card {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-card img {
  object-fit: cover;
  height: 15em;
}

@media screen and (max-width: 960px) {

  .mat-table .mat-row {
    display: block;
    text-align: center;
    overflow: hidden;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
  }

  .user-table .mat-row {
    margin: 2% -105% 2% 1%;
  }

  .expense-table .mat-row {
    margin: 2% -188% 2% 1%;
  }

  .mat-table .mat-row+.mat-row {
    margin-top: 24px;
  }

  .mat-table .mat-cell {
    display: block;
    padding: 0 1em;
    margin: 1em 0;
    border: 0 none;
  }

  .profile-img {
    width: 3em;
    height: 3em;
  }

  .div-table {
    width: 100%;
  }

  .div-content {
    width: 95%;
  }
}
