html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #BDBDBD;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #3ac96f;
}

.main-content {
  text-align: center;
}
