<form class="custom-form" (ngSubmit)="createExpense()" [formGroup]="formGroup">
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select formControlName="username">
        <mat-option *ngFor="let user of users"
          value="{{user.username}}">
          {{user.username}} - {{user.first_name}} {{user.last_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.controls['username'].hasError('required')">
        Select an user is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </section>
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Dossier</mat-label>
      <input type="text" matInput formControlName="dossier">
      <mat-error *ngIf="formGroup.controls['dossier'].hasError('required')">
        Dossier is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </section>
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput
        [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formGroup.controls['date'].hasError('required')">
        Date is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.controls['date'].hasError('maxDate')">
        The date cannot be in the future
      </mat-error>
    </mat-form-field>
  </section>
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Concept</mat-label>
      <textarea matInput formControlName="concept"></textarea>
      <mat-error *ngIf="formGroup.controls['concept'].hasError('required')">
        Concept is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </section>
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount">
      <span matSuffix>€&nbsp;</span>
      <mat-error *ngIf="formGroup.controls['amount'].hasError('required')">
        Amount is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </section>
  <section>
    <mat-form-field appearance="fill">
      <mat-label>VAT</mat-label>
      <input type="number" matInput formControlName="vatpercentage">
      <span matSuffix>%&nbsp;</span>
      <mat-error *ngIf="formGroup.controls['vatpercentage'].hasError('required')">
        Vat % is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </section>
  <section class="button-container-space-between">
    <button type="submit" mat-raised-button color="accent">{{"Create" | translate}}</button>
    <button mat-raised-button (click)="onClose()">Close</button>
  </section>
</form>
