<section class="project-form">
  <mat-expansion-panel [(expanded)]="expansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{"Create"|translate}} {{"Project"|translate}}
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>create_new_folder</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <input aria-label="image" type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
    <section class="file-upload">
      <img alt="project image" *ngIf="selectedFile" [src]="selectedFileSrc">
      <br>
      {{selectedFileName}}
      <span *ngIf="selectedFileName == null">
        {{"Upload image"|translate}}
      </span>
      <button mat-mini-fab color="accent" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </section>
    <form class="custom-form" (ngSubmit)="createProject()" [formGroup]="formGroup">
      <section>
        <mat-form-field appearance="outline">
          <mat-label>{{"Name"|translate}}</mat-label>
          <input aria-label="name" type="text" matInput formControlName="name" />
          <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
            {{"Name is"|translate}} <strong>{{"required"|translate}}</strong>
          </mat-error>
        </mat-form-field>
        
      </section>
      <section>
        <mat-form-field appearance="outline">
          <mat-label>{{"Category"|translate}}</mat-label>
          <input aria-label="category" type="text" matInput formControlName="category">
          <mat-error *ngIf="formGroup.controls['category'].hasError('required')">
            {{"Category is"|translate}} <strong>{{"required"|translate}}</strong>
          </mat-error>
        </mat-form-field>
        
      </section>
      <button type="submit" mat-raised-button color="accent">{{"Create" | translate}}</button>
    </form>
  </mat-expansion-panel>
</section>
<app-project-list [ownProjects]="projects" [managedProjects]="managedProjects" 
[memberProjects]="memberProjects">
</app-project-list>

