<form (ngSubmit)="onAdd()" #form="ngForm" [formGroup]="formGroup">
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
    <mat-error *ngIf="formGroup.controls['username'].hasError('isOnList')">
      {{"User already added"|translate}}
    </mat-error>
    <mat-error *ngIf="formGroup.controls['username'].hasError('isOnProject')">
      {{"User belong to the project"|translate}}
    </mat-error>
    <mat-error *ngIf="formGroup.controls['username'].hasError('isProjectAdmin')">
      {{"This user is admin project"|translate}}
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-button>{{"Add"|translate}}</button>
</form>
<cdk-virtual-scroll-viewport appendOnly itemSize="50">
  <section *ngFor="let username of userlist">
    <mat-card>
      {{username}}
      <button mat-icon-button (click)="onDelete(username)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card>
  </section>
</cdk-virtual-scroll-viewport>
<section class="button-container-space-between">
  <button mat-raised-button (click)="onSave()" color="accent">{{"Save"|translate}}</button>
  <button mat-raised-button (click)="onClick()">{{"Close"|translate}}</button>
</section>
