<html>
  <head>

  </head>
  <body>
    <nav>
      <a class="logo" routerLink=""><img src="../assets/img/Ski_trail_rating_symbol-green_circle.svg" alt=""></a>
      <ul class="link-list">
        <li><a routerLink="/a" routerLinkActive="active">LINK</a></li>
        <li><a routerLink="/a" routerLinkActive="active">LINK</a></li>
        <li><a routerLink="/test" routerLinkActive="active">TEST</a></li>
      </ul>
    </nav>
  </body>
  <section class="main-sec"> 
    <router-outlet></router-outlet>
  </section>
</html>