<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <mat-toolbar color="primary">
      <a mat-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        {{'P.E.M.' | translate}}
      </a>
    </mat-toolbar>
    <div class="drawer-col">
      <span *ngIf="isLogged()">
        <a mat-menu-item [routerLink]="['/projects/' + 
          this.localStorageService.get('username')]">
          <mat-icon>create_new_folder</mat-icon>
          {{'Projects' | translate}}
        </a>
      </span>
      <span *ngIf="isLogged()">
        <a mat-menu-item [routerLink]="['/expenses']">
          <mat-icon>attach_money</mat-icon>
          {{'Expenses' | translate}}
        </a>
      </span>
      <a mat-menu-item [routerLink]="['/report&sugestion']">
        <mat-icon>report</mat-icon>
        {{'Reports' | translate}}
      </a>
    </div>
  </mat-drawer>
  <section class="main-content">
    <mat-toolbar color="primary" class="toolbar, button-row-spacer">
      <span class="drawer-btn">
        <a mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </a>
      </span>
      <span class="toolbar-opt">
        <a mat-button [routerLink]="['/']">
          <mat-icon>home</mat-icon>
          <span class="main-menu-section-text"> {{'P.E.M.' | translate}}</span>
        </a>
        <span *ngIf="isLogged()">
          <a mat-button [routerLink]="['/projects/' +
                  this.localStorageService.get('username')]">
            <mat-icon>create_new_folder</mat-icon>
            <span class="main-menu-section-text"> {{'Projects' | translate}}</span>
          </a>
        </span>
        <span *ngIf="isLogged()">
          <a mat-button [routerLink]="['/expenses']">
            <mat-icon>attach_money</mat-icon>
            <span class="main-menu-section-text"> {{'Expenses' | translate}}</span>
          </a>
        </span>
        <a mat-button [routerLink]="['/report&sugestion']">
          <mat-icon>report</mat-icon>
          {{'Reports' | translate}}
        </a>
      </span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <ng-container *ngIf="isLogged(); else elseIcon">
          <img alt="Avatar Image" class="img-avatar" src={{user.img}} height="100%" width="100%">
        </ng-container>
        <ng-template #elseIcon>
          <mat-icon>account_circle</mat-icon>
        </ng-template>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngIf="isLogged(); else elseMenu">
          <a mat-menu-item href="/user/{{this.localStorageService.get('username')}}">
            <span>{{'Profile' | translate}}</span>
          </a>
          <button mat-menu-item (click)="logout()">
            <span>{{'Log Out' | translate}}</span>
          </button>
        </ng-container>
        <ng-template #elseMenu>
          <button mat-menu-item (click)="login()">
            <span>{{'Login' | translate}}</span>
          </button>
        </ng-template>
      </mat-menu>
      <span class="spacer-1em"></span>
      <!-- <button mat-stroked-button (click)="switchLang()">
        {{cur_lang}}
      </button> -->
    </mat-toolbar>
    <section class="section-content">
      <router-outlet></router-outlet>
    </section>
  </section>
  <footer color="primary" class="footer">
    <section class="footer-icons">
      <a mat-icon-button href="https://angular.io/">
        <img src="assets/images/angular-icon.svg" height="100%" width="100%">
      </a>
      <a mat-icon-button href="https://github.com/Jezusito/TFG-Gestor-Gastos-Proyectos">
        <img src="assets/images/GitHub-Mark-120px-plus.png" height="100%" width="100%">
      </a>
      <a mat-icon-button href="https://www.djangoproject.com/">
        <img src="assets/images/django_logo_icon_145332.svg" height="100%" width="100%">
      </a>
    </section>
    <section>
      <small>&copy; Copyright {{currentYear}}, Jesús Márquez Delgado</small>
    </section>
  </footer>
</mat-drawer-container>