<mat-drawer-container autosize *ngIf="getUrl() ; else elseNotLogged">
  <!-- <mat-drawer #drawer mode="side">
    <mat-toolbar color="primary">
      <a [routerLink]="['/']">
        <h3>P.E.M.</h3>
      </a>
    </mat-toolbar>
    <div class="drawer-col">
      <button mat-menu-item [routerLink]="['/user/' +
        this.localStorageService.get('username')]">
        <mat-icon>account_circle</mat-icon>
        <span>{{'Profile' | translate}}</span>
      </button>
      <button mat-menu-item [routerLink]="['/projects/' +
        this.localStorageService.get('username')]">
        <mat-icon>create_new_folder</mat-icon>
        <span>{{'Projects' | translate}}</span>
      </button>
      <button mat-menu-item [routerLink]="['']">
        <mat-icon>attach_money</mat-icon>
        <span>{{'Expenses' | translate}}</span>
      </button>
    </div>
  </mat-drawer> -->
  <div class="main-content">
    <mat-toolbar color="primary" class="toolbar, button-row-spacer">
      <!-- <button mat-icon-button aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>
        <button mat-button [routerLink]="['/']">
          <mat-icon>home</mat-icon>
          <span class="main-menu-section-text"> {{'P.E.M.' | translate}}</span>
        </button>
      </span>
      <span *ngIf="isLogged()">
        <button mat-button [routerLink]="['/projects/' +
          this.localStorageService.get('username')]">
          <mat-icon>create_new_folder</mat-icon>
          <span class="main-menu-section-text"> {{'Projects' | translate}}</span>
        </button>
      </span>
      <span *ngIf="isLogged()">
        <button mat-button [routerLink]="['/expenses']">
          <mat-icon>attach_money</mat-icon>
          <span class="main-menu-section-text"> {{'Expenses' | translate}}</span>
        </button>
      </span>
      <span>
        <button mat-button [routerLink]="['/report&sugestion']">
          <span class="main-menu-section-text"> {{'R&S' | translate}}</span>
        </button>
      </span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <ng-container *ngIf="isLogged(); else elseIcon">
          <img class="img-avatar" src={{user.img}} height="100%" width="100%">
        </ng-container>
        <ng-template #elseIcon>
          <mat-icon>account_circle</mat-icon>
        </ng-template>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngIf="isLogged(); else elseMenu">
          <a mat-menu-item href="/user/{{this.localStorageService.get('username')}}">
            <span>{{'Profile' | translate}}</span>
          </a>
          <button mat-menu-item (click)="logout()">
            <span>{{'Log Out' | translate}}</span>
          </button>
        </ng-container>
        <ng-template #elseMenu>
          <button mat-menu-item (click)="login()">
            <span>{{'Login' | translate}}</span>
          </button>
        </ng-template>
      </mat-menu>
      <span class="spacer-1em"></span>
      <button class="lang-button" mat-stroked-button (click)="switchLang()">
        {{cur_lang}}
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<ng-template #elseNotLogged>
  <div>
    <h1 class="title"><strong>Project Expenses Manager</strong></h1>
    <mat-card class="card-form">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</ng-template>

