<ng-container *ngIf="apiIsAlive; else elseApiNotAlive">
 <mat-drawer-container autosize *ngIf="isLogged; else elseNotLogged">
    <mat-drawer #drawer mode="side">
      <mat-toolbar color="primary">
        <a [routerLink]="['/']">
          <h3>P.E.M.</h3>
        </a>
      </mat-toolbar>
      <div class="drawer-col">
        <button mat-menu-item [routerLink]="['/user/' +
          this.localStorageService.get('username')]">
          <mat-icon>account_circle</mat-icon>
          <span>{{'Profile' | translate}}</span>
        </button>
        <button mat-menu-item [routerLink]="['/projects/' +
          this.localStorageService.get('username')]">
          <mat-icon>create_new_folder</mat-icon>
          <span>{{'Projects' | translate}}</span>
        </button>
        <button mat-menu-item [routerLink]="['']">
          <mat-icon>attach_money</mat-icon>
          <span>{{'Expenses' | translate}}</span>
        </button>
        <button mat-menu-item [routerLink]="['/test']">
          <mat-icon>build</mat-icon>
          <span>{{'Test' | translate}}</span>
        </button>
      </div>
    </mat-drawer>
    <div class="main-content">
      <mat-toolbar color="primary" class="toolbar, button-row-spacer">
        <button mat-icon-button aria-label="Example icon-button with menu icon"
          (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/']">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <span>{{'Log Out' | translate}}</span>
          </button>
        </mat-menu>
        <button class="lang-button" mat-stroked-button (click)="switchLang()">{{cur_lang}}</button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
  <ng-template #elseNotLogged>
    <div>
      <h1 class="title"><strong>Project Expenses Manager</strong></h1>
      <mat-card class="card-form">
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </ng-template>
</ng-container>
<ng-template #elseApiNotAlive>
  <div class="server-down">
    <h1>SERVER IS DOWN :'(</h1>
  </div>
</ng-template>
