<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <a [routerLink]="['/']">
      <h1>Expenses Manager</h1>
    </a>
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button
      aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button color="primary" [routerLink]="['/']">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button>

    <a [routerLink]="['/users']">Users</a>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
