<section class="expended-section">
  <div class="block-content-center">
    <strong>Total Expended</strong> <br> {{finalAmount | number: '.2-2'}} €
  </div>
  <div class="block-content-center">
    <strong>Total Expended this month</strong> <br> {{finalAmountMoth | number: '.2-2'}} €
  </div>
</section>

<app-chart-expeneses-months [expenses]="expenses"></app-chart-expeneses-months>

<app-horizontal-chart [expenses]="expenses"></app-horizontal-chart>

<form [formGroup]="formControl">
  {{'Search' | translate}}:
  <mat-form-field>
    <input matInput formControlName="user">
    <mat-placeholder>{{'Username' | translate}}</mat-placeholder>
  </mat-form-field>
  <!-- <mat-form-field>
    <input matInput formControlName="date">
    <mat-placeholder>{{'Date' | translate}}</mat-placeholder>
  </mat-form-field> -->
</form>

<section class="section-table expense-table">
  <table mat-table [dataSource]="expensesDataSource" matSort mdbTableScroll
    scrollX="true" scrollY="True">
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'User' | translate}}
      </th>
      <td mat-cell *matCellDef="let expense">
        <a href="user/{{expense.user}}">{{expense.user}}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="dossier">
      <th mat-header-cell *matHeaderCellDef>
        {{'Dossier' | translate}}
      </th>
      <td mat-cell *matCellDef="let expense">
        <a *ngIf="expense.dossier != null" mat-stroked-button [href]="expense.dossier">
          Open dossier
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'Date' | translate}}
      </th>
      <td mat-cell *matCellDef="let expense">
        {{expense.formmatedDate}}
      </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'Amount' | translate}}
      </th>
      <td mat-cell *matCellDef="let expense">
        {{expense.amount | number: '.2-2'}} &euro;
      </td>
    </ng-container>
    <ng-container matColumnDef="vatpercentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'VAT %' | translate }}
      </th>
      <td mat-cell *matCellDef="let expense">
        {{expense.vatpercentage | number: '.2-2'}} &percnt;
      </td>
    </ng-container>
    <ng-container matColumnDef="final_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'Final Amount' | translate}}
      </th>
      <td mat-cell *matCellDef="let expense">
        {{expense.final_amount | number: '.2-2'}} &euro;
      </td>
    </ng-container>
    <ng-container matColumnDef="showBtn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let expense">
        <a mat-raised-button color="accent" href="/expense/{{expense.id}}"> {{"Details" | translate}} </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="deleteBtn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let expense">
        <button mat-raised-button color="warn" (click)="deleteExpense(expense)">{{"Delete" | translate}}</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons>
  </mat-paginator>
</section>
