<section class="expended-section">
  <div class="block-content-center">
    <strong>Monthly balance</strong> <br> {{finalAmount | number: '.2-2'}} €
  </div>
  <div class="block-content-center">
    <strong>Project balance</strong> <br> {{finalAmountMoth | number: '.2-2'}} €
  </div>
</section>

<app-chart-expeneses-months [expenses]="expenses"></app-chart-expeneses-months>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'Top member expenses' | translate}}:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-horizontal-chart [expenses]="expenses"></app-horizontal-chart>
  </mat-expansion-panel>
</mat-accordion>

<section class="section-table expense-table">
  <table mat-table [dataSource]="expensesDataSource" matSort mdbTableScroll
    scrollX="true" scrollY="True">
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'User' | translate}}
      </th>
      <td mat-cell *matCellDef="let expense">
        <ng-container *ngIf="expense.isIncome(); else elseExpense">
          {{'Income' | translate}}
        </ng-container>
        <ng-template #elseExpense>
          <a href="user/{{expense.user}}">{{expense.user}}</a>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="dossier">
      <th mat-header-cell *matHeaderCellDef>
        {{'Dossier' | translate}}
      </th>
      <td mat-cell *matCellDef="let expense">
        <ng-container *ngIf="expense.dossier == null; else elseDossier">
          -
        </ng-container>
        <ng-template #elseDossier>
          <a mat-stroked-button [href]="expense.dossier">Open dossier</a>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'Date' | translate}}
      </th>
      <td mat-cell *matCellDef="let expense">
        {{expense.formmatedDate}}
      </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'Amount' | translate}}
      </th>
      <td mat-cell *matCellDef="let expense">
        <ng-container  *ngIf="expense.isIncome(); else elseExpense">
          <span class="income-color">{{expense.amount | number: '.2-2'}} &euro;</span>
        </ng-container>
        <ng-template #elseExpense>
          {{expense.amount | number: '.2-2'}} &euro;
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="vatpercentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'VAT %' | translate }}
      </th>
      <td mat-cell *matCellDef="let expense">
        <ng-container *ngIf="expense.isIncome(); else elseExpense">
          -
        </ng-container>
        <ng-template #elseExpense>
          {{expense.vatpercentage | number: '.2-2'}} &percnt;
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="final_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'Final Amount' | translate}}
      </th>
      <td mat-cell *matCellDef="let expense">
        <ng-container *ngIf="expense.isIncome(); else elseExpense">
          <span class="income-color">{{expense.final_amount | number: '.2-2'}} &euro;</span>
        </ng-container>
        <ng-template #elseExpense>
          {{expense.final_amount | number: '.2-2'}} &euro;
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="showBtn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let expense">
        <ng-container *ngIf="expense.isIncome(); else elseExpense">
          <a mat-raised-button color="accent" href="/income/{{expense.id}}"> {{"Details" | translate}} </a>
        </ng-container>
        <ng-template #elseExpense>
          <a mat-raised-button color="accent" href="/expense/{{expense.id}}"> {{"Details" | translate}} </a>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="deleteBtn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let expense">
        
        <ng-container *ngIf="expense.isIncome(); else elseExpense">
          <button mat-raised-button color="warn" (click)="deleteIncome(expense)">{{"Delete" | translate}}</button>
        </ng-container>
        <ng-template #elseExpense>
          <button mat-raised-button color="warn" (click)="deleteExpense(expense)">{{"Delete" | translate}}</button>
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons>
  </mat-paginator>
</section>