<section class="income-card" *ngIf="detailsView; else elseTemplate">
    <section class="income-details income-sections">
        <h1>{{"Income"|translate}}: </h1>
        <mat-divider>
        </mat-divider>
        <section>
            <strong>{{"Project"|translate}}: </strong>
            <a mat-button href="/project/{{project.id}}">
                {{project.name}} - {{project.category}}
            </a>
        </section>
        <section>
            <strong>{{"Dossier"|translate}}: </strong>
            <a *ngIf="income.dossier" mat-stroked-button [href]="income.dossier">
                {{"Open dossier"|translate}}
            </a>
        </section>
        <section>
            <strong>{{"Date"|translate}}: </strong>{{income.formmatedDate}}
        </section>
        <section>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <strong>{{"Concept"|translate}}</strong>
                    </mat-expansion-panel-header>
                    <p>{{income.concept}}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </section>
        <section>
            <strong>{{"Amount"|translate}}: </strong>{{income.amount | number: '.2-2'}}€
        </section>
    </section>
    <section class="button-container-space-between" *ngIf="modify">
        <button mat-raised-button color="accent" (click)="changeView()">{{"Edit"|translate}}</button>
        <button mat-raised-button color="warn" (click)="deleteIncome(income)">{{"Delete"|translate}}</button>
    </section>
</section>

<ng-template #elseTemplate>
    <section class="income-card">
        <section class="income-details income-sections">
            <h1>{{"Income"|translate}}: </h1>
            <mat-divider>
            </mat-divider>
            <section>
                <strong>{{"Project"|translate}}: </strong>
                <a mat-button href="/project/{{project.id}}">
                    {{project.name}}
                </a>
            </section>
        </section>
        <form class="income-details" [formGroup]="formGroup">
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>{{"Date"|translate}}</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="formGroup.controls['date'].hasError('required')">
                        {{"Date is"|translate}} <strong>{{"required"|translate}}</strong>
                    </mat-error>
                    <mat-error *ngIf="formGroup.controls['date'].hasError('maxDate')">
                        {{"The date cannot be in the future"|translate}}
                    </mat-error>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>{{"Concept"|translate}}</mat-label>
                    <textarea matInput formControlName="concept"></textarea>
                    <mat-error *ngIf="formGroup.controls['concept'].hasError('required')">
                        {{"Concept is"|translate}} <strong>{{"required"|translate}}</strong>
                    </mat-error>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>{{"Amount"|translate}}</mat-label>
                    <input matInput type="number" formControlName="amount">
                    <span matSuffix>€&nbsp;</span>
                    <mat-error *ngIf="formGroup.controls['amount'].hasError('required')">
                        {{"Amount is"|translate}} <strong>{{"required"|translate}}</strong>
                    </mat-error>
                </mat-form-field>
            </section>
            <section class="button-container-space-between" *ngIf="modify">
                <button mat-raised-button color="accent" type="submit" (click)="updateIncome()">
                    {{"Save"|translate}}
                </button>
                <button mat-raised-button color="warn" (click)="changeView()">{{"Cancel"|translate}}</button>
            </section>
        </form>
    </section>
</ng-template>