<h1>{{"Welcome to"|translate}}:</h1>
<img class="logo" src="assets/images/android-chrome-512x512.png" alt="logo">
<p>{{"intro text"|translate}}</p>

<p>{{"api text"|translate}}: <a [href]="url"> {{url}} </a></p>

<p>{{"guide text"|translate}}:</p>
<section class="guide-section">
    <h1>{{"Web App Guide"|translate}}:</h1>
    <cdk-virtual-scroll-viewport [itemSize]="1">
        <section *cdkVirtualFor="let imageText of imageTexts; 
            let even = even;">
            <h2 [translate]="imageText.title"></h2>
            <app-image-text [imageTextOrder]=even 
                [imageSrc]=imageText.imageSrc 
                [text]=imageText.text>
            </app-image-text>
        </section>
    </cdk-virtual-scroll-viewport>
</section>