<h1>
  {{'Users List' | translate}}
</h1>

<div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let user of users" class="card-grid">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256_960_720.png">
          <mat-card-title>{{user.surname}}, {{user.name}}</mat-card-title>
          <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div> <b>{{'Email' | translate}}:</b> {{user.email}}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/users',user.username]">{{"Profile" | translate}}</button>
          <button mat-button>{{"Expenses" | translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
