<div>
  <h1>
    {{'Users List' | translate}}
  </h1>
  <div>
    <mat-divider></mat-divider>
    <div *ngFor="let user of users">
      <div>
        <h3>
          <b>{{'User' | translate}} {{user.id}}:</b> {{ user.username }}
        </h3>
        <div> <b>{{'Name' | translate}}:</b> {{user.name}}</div>
        <div> <b>{{'Surname' | translate}}:</b> {{user.surname}}</div>
        <div> <b>{{'Password' | translate}}:</b> {{user.password}}</div>
        <div> <b>{{'Email' | translate}}:</b> {{user.email}}</div>
        <button mat-raised-button color="primary" type="button"
          [routerLink]="['/users',user.username]">
          {{'Profile' | translate}}
        </button>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
