<div>
  <h1>{{'User Profile' | translate}}</h1>
</div>

<div>
  <div fxFlex="50%">
    <mat-card>
      <img matCardImage src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256_960_720.png">
      <mat-card-content>
        <h2>
          <b>{{'Name' | translate}}:</b> {{ user.name }}
          <button mat-icon-button><mat-icon>edit</mat-icon></button>
        </h2>
        <h2>
          <b>{{'Surname' | translate}}:</b> {{ user.surname }}
          <button mat-icon-button><mat-icon>edit</mat-icon></button>
        </h2>
        <h2>
          <b>{{'Email' | translate}}:</b> {{ user.email }}
          <button mat-icon-button><mat-icon>edit</mat-icon></button>
        </h2>
        <h2>
          <b>{{'Password' | translate}}:</b> {{ user.password }}
        </h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="grid-top-spacer">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%"
      *ngFor="let project of projects" class="card-grid">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ project.name }}</mat-card-title>
          <mat-card-subtitle>{{'Category' | translate}}: {{ project.category }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div> <b>{{'Email' | translate}}:</b> {{user.email}}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/projects', project.id]">
            {{"Show" | translate}}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
