<ng-container *ngIf="!editView;else editCard">
  <section class="profile-card">
    <mat-card>
      <img class="profile-card-img" alt="" matCardImage src={{user.img}}>
      <h1 class="align-left">
        {{ user.username }}:
      </h1>
      <mat-card-content>
        <h2>
          {{ user.first_name }}
        </h2>
        <h2>
          {{ user.last_name }}
        </h2>
        <h2>
          {{ user.email }}
        </h2>
      </mat-card-content>
      <section class="button-container-space-between">
        <button mat-raised-button color="accent" (click)="changeView()"
          *ngIf="this.owner">
          {{"Edit"|translate}}
        </button>
        <button mat-raised-button color="warn" (click)="deleteAccount()"
          *ngIf="this.owner">
          {{"Delete"|translate}} {{"Account"|translate}}
        </button>
      </section>
    </mat-card>
  </section>
</ng-container>

<ng-template #editCard>
  <section class="profile-card">
    <mat-card>
      <img class="profile-card-img" alt="" matCardImage src={{user.img}}>
      <h1 class="align-left">
        {{ user.username }}:
      </h1>
      <input aria-label="file" type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
      <section class="file-upload">
        <img alt="profile-image" *ngIf="selectedFile" class="preview-img-avatar" [src]="selectedFileSrc">
        <br>{{selectedFileName || "No file uploaded yet."}}
        <button mat-mini-fab color="accent" (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </section>
      <form class="custom-form" (ngSubmit)="save()" [formGroup]="formGroup">
          <section>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{"First Name"|translate}}</mat-label>
              <input aria-label="first name" type="text" matInput formControlName="first_name">
              <mat-error>
                {{"First Name is"|translate}} <strong>{{"required"|translate}}</strong>
              </mat-error>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{"Last Name"|translate}}</mat-label>
              <input aria-label="last name" type="text" matInput formControlName="last_name">
              <mat-error>
                {{"Last Name is"|translate}} <strong>{{"required"|translate}}</strong>
              </mat-error>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{"Email"|translate}}</mat-label>
              <input aria-label="email" type="email" matInput formControlName="email">
              <mat-error>
                {{"Email is"|translate}} <strong>{{"required"|translate}}</strong>
              </mat-error>
            </mat-form-field>
          </section>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{"Password"|translate}}</mat-label>
            <input aria-label="password" type="password" matInput formControlName="password">
            <mat-error *ngIf="formGroup.controls['password'].hasError('required')">
              {{"Password is"|translate}} <strong>{{"required"|translate}}</strong>
            </mat-error>
          </mat-form-field>
          
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{"Repeat Password"|translate}}</mat-label>
            <input aria-label="password" type="password" matInput formControlName="passwordRepeat">
            <mat-error *ngIf="formGroup.controls['passwordRepeat'].hasError('required')">
              {{"Password is"|translate}} <strong>{{"required"|translate}}</strong>
            </mat-error>
            <mat-error *ngIf="formGroup.controls['passwordRepeat'].hasError('confirmedValidator')">
              {{"Passwords are not equal"|translate}}
            </mat-error>
          </mat-form-field>

        <section class="button-container-space-between">
          <button mat-raised-button color="accent" type="submit">{{"Save"|translate}}</button>
          <button mat-raised-button color="secondary" type="button" (click)="changeView()">
            {{"Cancel"|translate}}
          </button>
        </section>
      </form>
    </mat-card>
  </section>
</ng-template>
<app-project-list [ownProjects]="ownProjects" [managedProjects]="managedProjects" 
[memberProjects]="memberProjects">
</app-project-list>
