.profile-body {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.profile-card {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-card img {
  object-fit: cover;
  height: 15em;
}
