<mat-tab-group dynamicHeight *ngIf="hasProjects()">
  <mat-tab label="My Own Projects">
    <section fxLayout="row wrap" fxLayoutGap="1em grid">
      <section fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let project of ownProjects"
        class="card-grid">
        <mat-card class="project-item">
          <img class="project-img-card" alt="" matCardImage src={{project.img}}>
          <section class="project-name-card">{{project.name}}</section>
          <mat-card-content >
            <h2>{{project.category}}</h2>
            <section class="button-container-space-between">
              <a mat-raised-button [routerLink]="['/project/' + project.id]"
                color="accent">{{"Show" | translate}}</a>
              <button mat-raised-button color="warn" (click)="deleteProject(project)">
                {{"Delete" | translate}}
              </button>
            </section>
          </mat-card-content>
        </mat-card>
      </section>
    </section>
  </mat-tab>
  <mat-tab label="Projects I Manage">
    <section fxLayout="row wrap" fxLayoutGap="1em grid">
      <section fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let project of managedProjects"
        class="card-grid">
        <mat-card>
          <img class="project-img-card" alt="" matCardImage src={{project.img}}>
          <section class="project-name-card">{{project.name}}</section>
          <mat-card-content>
            <h2>{{project.category}}</h2>
            <a mat-raised-button [routerLink]="['/project/' + project.id]"
                color="accent">{{"Show" | translate}}</a>
          </mat-card-content>
        </mat-card>
      </section>
    </section>
  </mat-tab>
  <mat-tab label="Projects I Belong">
    <section fxLayout="row wrap" fxLayoutGap="1em grid">
      <section fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let project of memberProjects" class="card-grid">
        <mat-card>
          <img class="project-img-card" alt="" matCardImage src={{project.img}}>
          <section class="project-name-card">{{project.name}}</section>
          <mat-card-content>
            <h2>{{project.category}}</h2>
            <a mat-raised-button [routerLink]="['/project/' + project.id]" color="accent">{{"My Expenses" | translate}}</a>
          </mat-card-content>
        </mat-card>
      </section>
    </section>
  </mat-tab>
</mat-tab-group>
