<h1>{{'User Profile' | translate}}</h1>

<div>
    <h2>{{ user.username }}</h2>
    <div>{{'Name' | translate}}: {{ user.name }}</div>
    <div>{{'Surname' | translate}}: {{ user.surname }}</div>
    <div>{{'Password' | translate}}: {{ user.password }}</div>
    <div>{{'Email' | translate}}: {{ user.email }}</div>
</div>

<mat-divider></mat-divider>
<div *ngFor="let project of projects">
  <h2>{{ project.name }}</h2>
  <div>{{'Category' | translate}}: {{ project.category }}</div>
  <button type="button" [routerLink]="['/projects', project.id]">
    {{"Show" | translate}}
  </button>
  <mat-divider></mat-divider>
</div>
